<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.yiboot.dao.OperateLogMapper" >
  <resultMap id="BaseResultMap" type="com.personal.yiboot.bean.pojo.OperateLog" >

    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="operate_type" property="operateType" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_list">
    id,operate_type,detail,create_time,update_time,create_user,update_user
  </sql>
  <sql id="Base_Column_without_id">
    operate_type,detail,create_time,update_time,create_user,update_user
  </sql>

  <select id="findOperateLogList">
    select
    <include refid="Base_Column_list"></include>
    from yb_operate_log
  </select>

  <insert id="insertOperateLog" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
      insert into yb_operate_log(operate_type,detail,create_time,update_time)
      values(#{operateType},#{detail},now(),now())
  </insert>

</mapper>